* {
box-sizing: border-box;
}
#page-heading{
    text-align: center;
    font-size: 100px;
    padding-bottom: 50px;
}
button {
    border-radius: 50px;
    text-align: left;
    margin: 0;
}
body {
    background-color: rgb(42, 208, 203);
    margin: 0;
}
#StageLeft{
    text-align: left;
    font-size: 30px;
}
#page-heading.name{
    margin-bottom: 0;
    padding-bottom: 0;
}
.MainMenu{
    text-align: left;
    font-size: 30px;
}
.SecondMenu{
    text-align: right;
    font-size: 30px;
}
#StageRight{
    text-align:right;
    font-size:30px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-child1{
    text-align: left;
    margin: 0;
}
.grid-child2{
    text-align: right;
    margin: 0;
}
#AboutMe{
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
}
